<!DOCTYPE html>
<html lang="en">
<script src="js/jquery-3.5.1.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>请求类型:</p>
<input type="text" id="requestType"/>
<br/>
<p>请求链接</p>
<input type="text" id="url"/>
<br/>
<p>请求参数</p>
<input type="text" id="key"><input type="text" id="value">
<button type="button" id="request" onclick="sendRequest()">请求</button>
<br/>
<p>结果</p>
<textarea id="result"></textarea>
<script type="text/javascript">
    function sendRequest() {
        var requestType=$("#requestType").val();
        var url=$("#url").val();
        var param={};
        param["requestType"]=requestType;
        param["url"]=url;
        param[$("#key")]=$("#value");
        console.log("11"+param.url);
        $.post("/httpRequest",
            {
                request: param
            },
            function (data) {
                if (data.success){
                    document.getElementById("result").value=data.result;
                }
            });
    }

</script>
</body>
</html>